html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  background: #efeaed;
}

header {
  width: 100%;
  height: 2.13333rem;
  background: #fff;
}

header > p {
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
  font-size: 0.48rem;
  color: #e3a6ad;
  text-align: center;
}

.scroll {
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
}

.scroll ul {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  position: absolute;
}

.scroll ul li {
  width: 0.88rem;
  height: 0.85333rem;
  margin-left: 0.37333rem;
  flex-shrink: 0;
  text-align: center;
}

.active {
  color: #e3a6ad;
  border-bottom: 2px solid #e3a6ad;
}

section {
  width: 100%;
  height: 100%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  overflow-y: auto;
}

section > p {
  width: 100%;
  height: 1.17333rem;
  line-height: 1.17333rem;
  text-align: center;
}

.title {
  width: 100%;
  height: 1.17333rem;
  line-height: 1.17333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  padding: 0 0.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.title h4 {
  font-size: 0.42667rem;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 5.33333rem;
  background: #fff;
}

.swiper-slide {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
}

.swiper-slide .eve {
  width: 30%;
  margin-left: 0.21333rem;
}

.swiper-slide .eve img {
  width: 100%;
  margin-top: 0.10667rem;
}

.swiper-slide .eve h3 {
  font-size: 0.34667rem;
  font-weight: bold;
  margin-top: 0.10667rem;
}

.swiper-slide .eve p {
  width: 100%;
  margin-top: 0.10667rem;
}

.swiper-slide .eve p b {
  font-size: 0.48rem;
  color: #e3a6ad;
}

.swiper-slide .eve p span {
  color: #ccc;
}

.pagination {
  position: absolute;
  left: 43% !important;
}

.swiper-pagination-bullet {
  width: 0.24rem !important;
  height: 0.24rem !important;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
  width: 0.24rem !important;
  height: 0.24rem !important;
}

.content {
  width: 100%;
  height: 2.66667rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cont {
  width: 45%;
  margin-left: 0.34667rem;
  background: #fff;
  margin-top: 0.21333rem;
  padding: 0.13333rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.cont img {
  width: 100%;
}

.cont p {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-bottom: 0.18667rem;
}

.cont p > span {
  border: 1px solid #000;
  padding: 0.08rem;
  margin-right: 0.08rem;
  font-size: 0.32rem;
}

.cont > span {
  display: block;
  margin-top: 0.26667rem;
  margin-left: 66%;
}

.price {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.price h3 b {
  font-size: 0.42667rem;
  color: red;
}

footer {
  width: 100%;
  height: 1.17333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  background: #fff;
}

.iconfont {
  font-size: 0.42667rem !important;
}

.icon {
  width: 20%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.colors {
  color: #e3a6ad;
}
